modules/general/src/main/resources/Service1Superset.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 *
 * Copyright(C) OASIS(R) 2009, 2010. All Rights Reserved.
 * OASIS trademark, IPR and other policies apply.    
 *   
 * WSDL version of the Service1 interface 
-->
<!--
	WSDL for the Service1Superset interface, designed as a superset to the Service1 interface
	2 operations: 
	"operation1"
	- 1 string input parameter
	- 1 string output parameter 
	"operation2"
	- 1 string input parameter
	- 1 string output parameter 	
-->
<wsdl:definitions name="Service1SupersetService" targetNamespace="http://test.sca.oasisopen.org/" xmlns:tns="http://test.sca.oasisopen.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:SOAP11="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://test.sca.oasisopen.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	  <xs:element name="operation2Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="return" nillable="true"	type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	  </xs:element>
	  <xs:element name="operation2">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="arg0" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	  </xs:element>
	  <xs:element name="operation1Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	  </xs:element>
	  <xs:element name="operation1">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="arg0" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	  </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="operation2Response">
    <wsdl:part name="operation2Response" element="tns:operation2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="operation2">
    <wsdl:part name="operation2" element="tns:operation2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="operation1Response">
    <wsdl:part name="operation1Response" element="tns:operation1Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="operation1">
    <wsdl:part name="operation1" element="tns:operation1">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Service1Superset">
    <wsdl:operation name="operation1">
      <wsdl:input message="tns:operation1">
    </wsdl:input>
      <wsdl:output message="tns:operation1Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="operation2">
      <wsdl:input message="tns:operation2">
    </wsdl:input>
      <wsdl:output message="tns:operation2Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1SupersetBinding" type="tns:Service1Superset">
    <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="operation1">
      <SOAP:operation/>
      <wsdl:input>
        <SOAP:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <SOAP:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="operation2">
      <SOAP:operation/>
      <wsdl:input>
        <SOAP:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <SOAP:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1SupersetService">
    <wsdl:port name="Service1SupersetPort" binding="tns:Service1SupersetBinding">
      <SOAP:address location="http://192.168.11.64:8080/TestComponent2"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>